$padding: 16px;

#body:target {
  color: #ff0000;

  %h-shared {
    color: #a10404;
  }

  h1 {
    @extend %h-shared;
    padding:$padding;
  }

  h2 {
    @extend %h-shared;
    padding:$padding;
  }

  h6 {
    @extend %h-shared;
    padding: $padding*2;
  }

%message-shared, code {
  color: #8e0202;
}

}
